<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<location path="config.json">
		<system.webServer>
		<staticContent>
			<clientCache cacheControlMode="DisableCache" />
		</staticContent>
		</system.webServer>
	</location>
	<location path="index.html">
		<system.webServer>
		<staticContent>
			<clientCache cacheControlMode="DisableCache" />
		</staticContent>
		</system.webServer>
	</location>
	<location path="node_modules/cmf.core/cmf.core.bootstrap.js">
		<system.webServer>
		<staticContent>
			<clientCache cacheControlMode="DisableCache" />
		</staticContent>
		</system.webServer>
	</location>
	<location path="node_modules/cmf.lbos/cmf.lbos.js">
		<system.webServer>
		<staticContent>
			<clientCache cacheControlMode="DisableCache" />
		</staticContent>
		</system.webServer>
	</location>	

    <system.webServer>
		
		 <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
			<scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9" />
			<staticTypes>
				<add mimeType="*/*" enabled="true" />
			</staticTypes>
		</httpCompression>

		<urlCompression doStaticCompression="true" />
		<staticContent>
				<remove fileExtension=".json" />
				<mimeMap fileExtension=".json" mimeType="application/json" />	
				<clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />		
     	</staticContent>
		<modules runAllManagedModulesForAllRequests="true" />
		<rewrite>
			<rules>
				<!--Redirect selected traffic to index -->
				<rule name="Index Rule" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_URI}" matchType="Pattern" pattern="^/api/" negate="true" />
					</conditions>
					<action type="Rewrite" url="/index.html" />
				</rule>
			</rules>
		</rewrite>
		<security>
			<requestFiltering>
					<hiddenSegments>
							<remove segment="bin" />
					</hiddenSegments>
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>
