<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>

        <!-- CMF.HostService -->
        <add key="ApplicationName" value="TibcoEMSGateway"/>
        <add key="ClientTenantName" value="amsOSRAM"/>
        <add key="IsUsingLoadBalancer" value="false"/>

        <add key="HostAddress" value="{Application Public HTTP Address}"/>
        <add key="ApplicationName" value="TibcoEMSGateway"/>
        <add key="ClientTenantName" value="amsOSRAM"/>
        <add key="IsUsingLoadBalancer" value="false"/>
        <add key="HostAddress" value="localhost:443"/>
        <add key="UseSsl" value="false"/>
        <add key="SecurityAccessToken" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjbGllbnRJZCI6Ik1FUyIsInRlbmFudE5hbWUiOiJhbXNPU1JBTSIsInN1YiI6IkFNU09TUkFNSU9UVVNFUiIsInNjb3BlIjpudWxsLCJleHRyYVZhbHVlcyI6bnVsbCwidHlwZSI6IlBBVCIsImlhdCI6MTY2MzY3MTQ5OCwiZXhwIjoxNjk1MzM3MTM5LCJhdWQiOiJBdXRoUG9ydGFsIiwiaXNzIjoiQXV0aFBvcnRhbCJ9.c2Z5VS98RHzrm26SMVHF_kxc4V4rs069P2FIBfeBtJE"/>
        <add key="SecurityPortalBaseAddress" value="https://amsosramintegration.ds.criticalmanufacturing.dev/SecurityPortal/tenant"/>
        
        <!-- CONFIGURATION EXAMPLE -->

        <!-- using RbgDevelopment: MISSING PAT

        <add key="ApplicationName" value="TibcoEMSGateway"/>
        <add key="ClientTenantName" value="amsOSRAM"/>
        <add key="IsUsingLoadBalancer" value="false"/>

        <add key="HostAddress" value="cmfmesdev.apps.cst1-rbg.int.osram-light.com"/>
        <add key="UseSsl" value="true"/>
        <add key="SecurityAccessToken" value="{PersonalAccessToken}"/>
        <add key="SecurityPortalBaseAddress" value="https://cmfmesdev.apps.cst1-rbg.int.osram-light.com/SecurityPortal/tenant"/>

        -->

    </appSettings>
</configuration>
