<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>

        <!-- CMF.HostService -->

        <add key="ApplicationName" value="TibcoEMSGateway"/>
        <add key="ClientTenantName" value="AMSOsram"/>
        <add key="HostAddress" value="{MES.Product.ApplicationServer.Address}"/>
        <add key="HostPort" value="{MES.Product.ApplicationServer.Port}"/>
        <add key="UseSSL" value="false"/>
        <add key="ClientId" value="MES" />
        <add key="SecurityPortalBaseAddress" value="https://{MES.Product.SecurityPortal.Address}:{Port}/" />
        <add key="SecurityAccessToken" value="{PersonalAccessToken}"/>

        <!-- CMF.MessageBus -->

        <!-- MessageBus.Host: Where Message Bus belong-->
        <add key="MessageBus.Host" value="{MES.Product.Gateway.Address}"/>
        <add key="MessageBus.Port" value="{MES.Product.Gateway.Port}"/>
        <add key="MessageBus.SecurityToken" value="{MES.Product.MessageBus.TenantSecurityToken}"/>

        <!-- MessageBus.ExternalAddress: MES Message Bus to listen to -->
        <add key="MessageBus.ExternalAddress" value="wss://{MES.Product.ApplicationServer.Address}:{MESHostPort}/messagebus"/>

        <!-- CONFIGURATION EXAMPLE -->

        <!-- CMF.HostService:

        <add key="ApplicationName" value="TibcoEMSGateway"/>
        <add key="ClientTenantName" value="AMSOsram"/>
        <add key="HostAddress" value="VM-AMS-OSRAM.cmf.criticalmanufacturing.com"/>
        <add key="HostPort" value="8083"/>
        <add key="UseSSL" value="false"/>
        <add key="ClientId" value="MES" />
        <add key="SecurityPortalBaseAddress" value="https://VM-AMS-OSRAM.cmf.criticalmanufacturing.com:9091/" />
        <add key="SecurityAccessToken" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9"/>
        
        -->

        <!-- CMF.MessageBus:
        
        <add key="MessageBus.Host" value="VM-AMS-OSRAM.cmf.criticalmanufacturing.com"/>
        <add key="MessageBus.Port" value="4510"/>
        <add key="MessageBus.SecurityToken" value="AMSOsramMessageBusToken"/>
        <add key="MessageBus.ExternalAddress" value="wss://VM-AMS-OSRAM.cmf.criticalmanufacturing.com:443/messagebus"/>

        -->

    </appSettings>
</configuration>