<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>

        <!-- CMF.HostService -->
        <add key="ApplicationName" value="TibcoEMSGateway"/>
        <add key="ClientTenantName" value="amsOSRAM"/>
        <add key="IsUsingLoadBalancer" value="false"/>

        <add key="HostAddress" value="{Application Public HTTP Address}"/>
        <add key="UseSsl" value="{Application Public HTTP TLS Enabled}"/>
        <add key="SecurityAccessToken" value="{PersonalAccessToken}"/>
        <add key="SecurityPortalBaseAddress" value="https://{Application Public HTTP Address}/SecurityPortal/tenant"/>
        
        <!-- CONFIGURATION EXAMPLE -->

        <!-- using RbgDevelopment: MISSING PAT

        <add key="ApplicationName" value="TibcoEMSGateway"/>
        <add key="ClientTenantName" value="amsOSRAM"/>
        <add key="IsUsingLoadBalancer" value="false"/>

        <add key="HostAddress" value="cmfmesdev.apps.cst1-rbg.int.osram-light.com"/>
        <add key="UseSsl" value="true"/>
        <add key="SecurityAccessToken" value="{PersonalAccessToken}"/>
        <add key="SecurityPortalBaseAddress" value="https://cmfmesdev.apps.cst1-rbg.int.osram-light.com/SecurityPortal/tenant"/>

        -->

    </appSettings>
</configuration>