<?xml version="1.0" encoding="utf-8" ?>
<log4net>

    <!--Appenders: Extra Appenders can be added check: https://logging.apache.org/log4net/release/manual/configuration.html -->

    <!--Log Info [DEBUG - WARN] File Appender-->
    <appender name="tibcoServiceInfoFileApender" type="log4net.Appender.RollingFileAppender">
        <file type="log4net.Util.PatternString" value=".\Logs\ServiceLogs_%utcdate{yyyyMMdd}.log" />
        <appendToFile value="true" />
        <rollingStyle value="Size" />
        <maxSizeRollBackups value="100" />
        <maximumFileSize value="20MB" />
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="[%date] [%level] - %message%newline" />
        </layout>
        <!-- Don't show passwords or tokens in the log. -->
        <filter type="log4net.Filter.StringMatchFilter">
            <regexToMatch value="([Tt]oken|[Bb]earer|[Pp]assword)" />
            <acceptOnMatch value="false" />
        </filter>
        <filter type="log4net.Filter.LevelRangeFilter">
            <levelMin value="DEBUG" />
            <levelMax value="WARN" />
        </filter>
    </appender>

    <!--Log Error [ERROR - FATAL] File Appender-->
    <appender name="tibcoServiceErrorFileApender" type="log4net.Appender.RollingFileAppender">
        <file type="log4net.Util.PatternString" value=".\Logs\ServiceLogs_%utcdate{yyyyMMdd}.log" />
        <appendToFile value="true" />
        <rollingStyle value="Size" />
        <maxSizeRollBackups value="100" />
        <maximumFileSize value="20MB" />
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
        <layout type="log4net.Layout.PatternLayout">
            <IgnoresException value="False" />
            <conversionPattern value="[%date] [%level] - %message%newlineException: %exception" />
        </layout>
        <filter type="log4net.Filter.LevelRangeFilter">
            <levelMin value="ERROR" />
            <levelMax value="FATAL" />
        </filter>
    </appender>

    <!--Root Configuration. Add extra Appenders or set the logging level (ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF)-->
    <root>
        <level value="WARN" />
        <appender-ref ref="tibcoServiceInfoFileApender" />
        <appender-ref ref="tibcoServiceErrorFileApender" />
    </root>
</log4net>