<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
    <!-- Configurations that affect the Test Framework -->
    <RunConfiguration>
        <!--0 = As many processes as possible, limited by number of cores on machine, 1 = Sequential (1 process), 2-> Given number of processes up to limit by number of cores on machine-->
        <MaxCpuCount>1</MaxCpuCount>
    </RunConfiguration>

    <!-- Parameters used by tests at runtime -->
    <TestRunParameters>
        <Parameter name="applicationName" value="AutomaticTests" />
        <Parameter name="websiteAdress" value="VM-AMS-OSRAM.cmf.criticalmanufacturing.com" />
        <Parameter name="websitePort" value="443" />
        <Parameter name="websiteUseSSL" value="True" />
        <Parameter name="hostAdress" value="VM-AMS-OSRAM.cmf.criticalmanufacturing.com" />
        <Parameter name="hostPort" value="8083" />
        <Parameter name="clientTenantName" value="AMSOsram" />
        <Parameter name="culture" value="en-US"/>
        <Parameter name="userRole" value="Administrators"/>
        <Parameter name="userName" value="CMF\CMFSU" />
        <Parameter name="password" value="qaz123WSX" />
        <Parameter name="auxiliaryUserName" value="CMF\CMFSU" />
        <Parameter name="auxiliaryUserPassword" value="qaz123WSX" />
        <Parameter name="skipLogin" value="true" />
        <Parameter name="hostUseSSL" value="false" />
        <Parameter name="securityToken" value="4n5g84uLK347" />
        <Parameter name="useLoadBalancer" value="false" />
        <Parameter name="requestTimeout" value="00:10:00" />
        <Parameter name="reuseWebDriver" value="true" />
        <Parameter name="browser" value="chrome" />
        <Parameter name="debug" value="false" />
        <!-- Connect IoT -->
        <Parameter name="mode" value="RemoteService" />
        <!-- This is For build, to Run Locally point to your directory -->
        <Parameter name="filePathRemote" value="./../../Configurations/RunSettings/integration.runsettings" />
        <Parameter name="filePathLocal" value="../../../integration.runsettings" />
        <Parameter name="filePath" value="../../../integration.runsettings" />

        <!-- test output -->
        <Parameter name="screenshotPath" value="\\VM-AMS-OSRAM.cmf.criticalmanufacturing.com\Deployment\TestArtifacts" />
        <Parameter name="logsPath" value="\\VM-AMS-OSRAM.cmf.criticalmanufacturing.com\Deployment\TestArtifacts" />
        <Parameter name="documentationScreenshotPath" value="\\VM-AMS-OSRAM.cmf.criticalmanufacturing.com\Deployment\TestArtifacts\Documentation" />

        <!-- MessageBus -->
        <Parameter name="MessageBus.Gateway.Address" value="VM-AMS-OSRAM.cmf.criticalmanufacturing.com" />
        <Parameter name="MessageBus.Gateway.Port" value="4510" />
        <Parameter name="MessageBus.Gateway.ExternalAddress" value="wss://VM-AMS-OSRAM.cmf.criticalmanufacturing.com:443/messagebus" />
        <Parameter name="MessageBus.UseLoadBalancing" value="false" />
        <Parameter name="MessageBus.SecurityToken" value="AMSOsramMessageBusToken" />
        <Parameter name="MessageBus.UseGatewayExternalAddress" value="true" />
    </TestRunParameters>

    <!-- MSTest adapter -->
    <MSTest>
        <KeepExecutorAliveAfterLegacyRun>true</KeepExecutorAliveAfterLegacyRun>
        <MapInconclusiveToFailed>true</MapInconclusiveToFailed>
        <CaptureTraceOutput>true</CaptureTraceOutput>
        <DeleteDeploymentDirectoryAfterTestRunIsComplete>false</DeleteDeploymentDirectoryAfterTestRunIsComplete>
        <DeploymentEnabled>false</DeploymentEnabled>
        <InProcMode>false</InProcMode>
    </MSTest>

    <!-- Connect IoT -->
    <!-- Connect IoT -->
    <connectIotAutomaticTests>
        <Global
              dataDir="\\vm-ams-osram\c$\IoTTestsAutomationManagers\Libs\"
              logDebug="true"
		  />
        <!--setAutomationControllerInstanceToNotRunning="false"/>-->
        <!--   configLocation="C:\Users\raazevedo\Downloads\MCSInterface\config.json"/>-->

        <Equipments>
            <!--Equipment name="PDSP0101" automationManager="EvatecClusterline200II" driverAlias="SecsGemEquipment"
					   description="SecsGemEquipment" driver="SecsGem" port="5011" serviceMachine="vm-ams-osram"
					   serviceName="ConnectIoT (PDSP0101)" configLocation="\\vm-ams-osram\c$\IoTTestsAutomationManagers\PDSP0101\remoteTestingConfig.json"
				       library ="\\vm-ams-osram\c$\IoTTestsAutomationManagers\Libs\DefaultLibrary.xsc">
      </Equipment-->
            <Cluster name="PDSP0101" automationManager="EvatecClusterline200II" serviceMachine="vm-ams-osram"
                     serviceName="ConnectIoT (PDSP0101)" configLocation="\\vm-ams-osram\c$\IoTTestsAutomationManagers\PDSP0101\remoteTestingConfig.json">
                <Equipment name="PDSP0101" driverAlias="SecsGemEquipment"
                           description="SecsGemEquipment" driver="SecsGem" port="5011" serviceMachine="vm-ams-osram"
                           serviceName="ConnectIoT (PDSP0101)" configLocation="\\vm-ams-osram\c$\IoTTestsAutomationManagers\PDSP0101\remoteTestingConfig.json"
                           library ="\\vm-ams-osram\c$\IoTTestsAutomationManagers\Libs\DefaultLibrary.xsc"/>
                <Equipment name="PDSP0101.RFID" driverAlias="RFIDReader" serviceMachine="vm-ams-osram"
                           serviceName="ConnectIoT (PDSP0101)" configLocation="\\vm-ams-osram\c$\IoTTestsAutomationManagers\PDSP0101\remoteTestingConfig.json"
                           description="RFIDReader" driver="SecsGem" port="5012"/>
            </Cluster>
            <Cluster name="MECD0101" automationManager="MuetecDaVinci" serviceMachine="vm-ams-osram"
                     serviceName="ConnectIoT (MECD0101)" configLocation="\\vm-ams-osram\c$\IoTTestsAutomationManagers\MECD0101\remoteTestingConfig.json">

                <Equipment name="MECD0101" driverAlias="SecsGemEquipment"
                                     description="SecsGemEquipment" driver="SecsGem" port="5013" serviceMachine="vm-ams-osram"
                                     serviceName="ConnectIoT (MECD0101)" configLocation="\\vm-ams-osram\c$\IoTTestsAutomationManagers\MECD0101\remoteTestingConfig.json"
                               library ="\\vm-ams-osram\c$\IoTTestsAutomationManagers\Libs\DefaultLibrary.xsc"
					   >
                </Equipment>
                <Equipment name="MECD0101.RFID" driverAlias="RFIDReader" serviceMachine="vm-ams-osram"
                           serviceName="ConnectIoT (MECD0101)" configLocation="\\vm-ams-osram\c$\IoTTestsAutomationManagers\MECD0101\remoteTestingConfig.json"
                           description="RFIDReader" driver="SecsGem" port="5014"/>
            </Cluster>
            <Equipment name="ENA01" automationManager="MechatronicMWS200" driverAlias="SecsGemEquipment"
                     description="SecsGemEquipment" driver="SecsGem" port="5013" serviceMachine="vm-ams-osram"
                     serviceName="ConnectIoT (ENA01)" configLocation="\\vm-ams-osram\c$\IoTTestsAutomationManagers\ENA01\remoteTestingConfig.json"
               library ="\\vm-ams-osram\c$\IoTTestsAutomationManagers\Libs\DefaultLibrary.xsc"
					   >
            </Equipment>
            <Equipment name="5FASH1" automationManager="TrymaxNEO" driverAlias="SecsGemEquipment"
                     description="SecsGemEquipment" driver="SecsGem" port="5014" serviceMachine="vm-ams-osram"
                     serviceName="ConnectIoT (5FASH1)" configLocation="\\vm-ams-osram\c$\IoTTestsAutomationManagers\5FASH1\remoteTestingConfig.json"
               library ="\\vm-ams-osram\c$\IoTTestsAutomationManagers\Libs\DefaultLibrary.xsc">
            </Equipment>
			<Cluster name="5FICP1" automationManager="OmegaPlasma" serviceMachine="vm-ams-osram"
               serviceName="ConnectIoT (5FICP1)" configLocation="\\vm-ams-osram\c$\IoTTestsAutomationManagers\5FICP1\remoteTestingConfig.json">
				<Equipment name="5FICP1" driverAlias="SecsGemEquipment"
						   description="SecsGemEquipment" driver="SecsGem" port="5011" serviceMachine="vm-ams-osram"
						   serviceName="ConnectIoT (5FICP1)" configLocation="\\vm-ams-osram\c$\IoTTestsAutomationManagers\5FICP1\remoteTestingConfig.json"
						   library ="\\vm-ams-osram\c$\IoTTestsAutomationManagers\Libs\DefaultLibrary.xsc"/>
				<Equipment name="5FICP1.RFID" driverAlias="RFIDReader" serviceMachine="vm-ams-osram"
						   serviceName="ConnectIoT (5FICP1)" configLocation="\\vm-ams-osram\c$\IoTTestsAutomationManagers\5FICP1\remoteTestingConfig.json"
						   description="RFIDReader" driver="SecsGem" port="5012"/>
			</Cluster>			
			<Cluster name="5FAFM1" automationManager="BrukerInsightCAP" serviceMachine="vm-ams-osram"
               serviceName="ConnectIoT (5FAFM1)" configLocation="\\vm-ams-osram\c$\IoTTestsAutomationManagers\5FAFM1\remoteTestingConfig.json">
				<Equipment name="5FAFM1" driverAlias="SecsGemEquipment"
						   description="SecsGemEquipment" driver="SecsGem" port="5013" serviceMachine="vm-ams-osram"
						   serviceName="ConnectIoT (5FAFM1)" configLocation="\\vm-ams-osram\c$\IoTTestsAutomationManagers\5FAFM1\remoteTestingConfig.json"
						   library ="\\vm-ams-osram\c$\IoTTestsAutomationManagers\Libs\DefaultLibrary.xsc"/>
				<Equipment name="5FAFM1.RFID" driverAlias="RFIDReader" serviceMachine="vm-ams-osram"
						   serviceName="ConnectIoT (5FAFM1)" configLocation="\\vm-ams-osram\c$\IoTTestsAutomationManagers\5FAFM1\remoteTestingConfig.json"
						   description="RFIDReader" driver="SecsGem" port="5014"/>
			</Cluster>
        </Equipments>
    </connectIotAutomaticTests> -->
</RunSettings>