<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <!-- Configurations that affect the Test Framework -->
  <RunConfiguration>
    <!--0 = As many processes as possible, limited by number of cores on machine, 1 = Sequential (1 process), 2-> Given number of processes up to limit by number of cores on machine-->
    <MaxCpuCount>1</MaxCpuCount>
  </RunConfiguration>
  
    <!-- Parameters used by tests at runtime -->
  <TestRunParameters>
    <Parameter name="applicationName" value="AutomaticTests" />
    <Parameter name="websiteAdress" value="localhost" />
    <Parameter name="websitePort" value="7000" />
    <Parameter name="websiteUseSSL" value="false" />
    <Parameter name="hostAdress" value="localhost" />
    <Parameter name="hostPort" value="8083" />
    <Parameter name="clientTenantName" value="AMSOsram" />
    <Parameter name="culture" value="en-US"/>
    <Parameter name="userRole" value="Administrators"/>
    <Parameter name="userName" value="CMF\cmfsu" />
    <Parameter name="password" value="qaz123WSX" />
    <Parameter name="auxiliaryUserName" value="cmf\cmfsu" />
    <Parameter name="auxiliaryUserPassword" value="qaz123WSX" />
    <Parameter name="skipLogin" value="true" />
	  <Parameter name="useSsl" value="false" />
    <Parameter name="hostUseSSL" value="false" />
    <Parameter name="securityToken" value="4n5g84uLK347" />
    <Parameter name="useLoadBalancer" value="false" />
	  <Parameter name="hostUseLoadBalancer" value="false" />
    <Parameter name="requestTimeout" value="00:10:00" />
    <Parameter name="reuseWebDriver" value="true" />
    <Parameter name="browser" value="chrome" />
	<Parameter name="debug" value="false" />
    <!-- Connect IoT -->
    <Parameter name="mode" value="Local" />
    <Parameter name="filePathRemote" value="./RunSettings/local.runsettings" />
    <Parameter name="filePathLocal" value="../../../local.runsettings" />
	  <Parameter name="filePath" value="../../../local.runsettings" />
    <!-- test output -->
    <Parameter name="screenshotPath" value="\\VM-AMS-OSRAM.cmf.criticalmanufacturing.com\Deployment\TestArtifacts" />
    <Parameter name="logsPath" value="\\VM-AMS-OSRAM.cmf.criticalmanufacturing.com\Deployment\TestArtifacts" />
    <Parameter name="documentationScreenshotPath" value="\\VM-AMS-OSRAM.cmf.criticalmanufacturing.com\Deployment\TestArtifacts\Documentation" />
  </TestRunParameters>

  <!-- MSTest adapter -->
  <MSTest>
    <KeepExecutorAliveAfterLegacyRun>true</KeepExecutorAliveAfterLegacyRun>
    <MapInconclusiveToFailed>true</MapInconclusiveToFailed>
    <CaptureTraceOutput>true</CaptureTraceOutput>
    <DeleteDeploymentDirectoryAfterTestRunIsComplete>false</DeleteDeploymentDirectoryAfterTestRunIsComplete>
    <DeploymentEnabled>false</DeploymentEnabled>
    <InProcMode>false</InProcMode>
  </MSTest>

  
  <!-- Connect IoT -->
	<connectIotAutomaticTests>
		<Global
			  dataDir="\\vm-ams-osram\c$\IoTTestsAutomationManagers\Libs\"
			  logDebug="true"
			  configLocation="C:\AMSOsramMngrCfgs\config.json"/>
		<!--setAutomationControllerInstanceToNotRunning="false"/>-->
		<!--   configLocation="C:\Users\raazevedo\Downloads\MCSInterface\config.json"/>-->

		<Equipments>
			<Equipment name="PDSP0101" automationManager="EvatecClusterline200II" driverAlias="SecsGemEquipment"
							 description="SecsGemEquipment" driver="SecsGem" port="5011" serviceMachine="vm-ams-osram"
							 serviceName="ConnectIoT (PDSP0101)" configLocation="\\vm-ams-osram\c$\IoTTestsAutomationManagers\PDSP0101\remoteTestingConfig.json"
					   library ="\\vm-ams-osram\c$\IoTTestsAutomationManagers\Libs\DefaultLibrary.xsc"
					   >
			</Equipment>
			<Equipment name="MECD0101" automationManager="MuetecDaVinci" driverAlias="SecsGemEquipment"
							 description="SecsGemEquipment" driver="SecsGem" port="5012" serviceMachine="vm-ams-osram"
							 serviceName="ConnectIoT (MECD0101)" configLocation="\\vm-ams-osram\c$\IoTTestsAutomationManagers\MECD0101\remoteTestingConfig.json"
					   library ="\\vm-ams-osram\c$\IoTTestsAutomationManagers\Libs\DefaultLibrary.xsc"
					   >
			</Equipment>
			<Equipment name="ENA01" automationManager="MechatronicMWS200" driverAlias="SecsGemEquipment"
							 description="SecsGemEquipment" driver="SecsGem" port="5013" serviceMachine="vm-ams-osram"
							 serviceName="ConnectIoT (ENA01)" configLocation="\\vm-ams-osram\c$\IoTTestsAutomationManagers\ENA01\remoteTestingConfig.json"
					   library ="\\vm-ams-osram\c$\IoTTestsAutomationManagers\Libs\DefaultLibrary.xsc"
					   >
			</Equipment>
		</Equipments>
	</connectIotAutomaticTests>
</RunSettings>