<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ApplicationName" value="AMSOsram"/>
        <add key="ClientTenantName" value="AMSOsram"/>
        <add key="HostAddress" value="localhost:8083"/>
        <add key="HostPort" value="8083"/>
        <add key="UseSSL" value="false"/>
        <add key="UserName" value="CMF\cmfsu"/>
        <add key="Password" value="qaz123WSX"/>
        <add key="SecurityAccessToken" value="AMSOsramMessageBusToken"/>
        <!--<add key="ClientSettingsProvider.ServiceUri" value=""/>-->
        
        <add key="MessageBus.Host" value="localhost"/>
        <add key="MessageBus.Port" value="4510"/>
        <add key="MessageBus.SecurityToken" value="AMSOsramMessageBusToken"/>
        <add key="MessageBus.ExternalAddress" value="wss://VM-AMS-OSRAM.cmf.criticalmanufacturing.com:443/messagebus"/>
        <add key="MessageBus.UseLoadBalancing" value ="false"/>
        
        <add key="Tibco.Host" value="tcp://EMSQ-RBG01.germany.osram-os.com:7222,tcp://EMSD-RBG01.germany.osram-os.com:722"/>
        <add key="Tibco.Username" value="EMS_CRITICAL" />
        <add key="Tibco.Password" value="Yy3JzeglfUzqgHOIA5kx" />
        <!--<add key="MessageBus.LoadBalancing.Host" value ="x"/>-->
        <!--<add key="MessageBus.LoadBalancing.Port" value ="x"/>-->
        <!--<add key="MessageBus.LoadBalancing.SecurityToken" value ="x"/>-->
        <!--<add key="MessageBus.LoadBalancing.UseSSL" value ="x"/>-->
        <!--<add key="Tibco.Username" value="" />-->
        <!--<add key="Tibco.Password" value="" />-->
    </appSettings>
</configuration>