<cmf-core-controls-columnView [model]="_model" [mainTitle]="i18n.INPUTS" [leafTitle]="i18n.INPUT" [showActionAdd]="true" [showActionRemove]="true"
    [max-columns]="1" (add)="onColumnViewAdd($event)" (remove)="onColumnViewRemove($event)" (selected)="onColumnViewSelect($event)"
    cmf-core-controls-validator>

    <leaf-content>
        <div class="container">
            <cmf-core-business-controls-propertyContainer class="container-inner" *ngIf="_selected && _selected.rootNode" cmf-core-controls-validator>
                <!-- name -->
                <cmf-core-business-controls-propertyEditor
                    [label]="i18n.NAME" 
                    [value]="_selected.rootNode.tag.name" 
                    [required]="true"
                    valueType="String"
                    (valueChange)="onLeafChanged($event, 'name')"
                ></cmf-core-business-controls-propertyEditor>               
                 <!-- value type -->
                <cmf-core-connect-iot-typeSelector
                    [required]="true"
                    [showFriendlyNameInput]="false" 
                    [value]="_selected.rootNode.tag.valueType"
                    (valueChange)="onLeafChanged($event, 'valueType')"
                ></cmf-core-connect-iot-typeSelector>
                <!-- default value -->
                <cmf-core-business-controls-propertyEditor
                    [label]="i18n.DEFAULT_VALUE" 
                    *ngIf="_selected && _selected.rootNode && 
                    _selected.rootNode.tag.valueType && _selected.rootNode.tag.valueType.type != null"
                    [(value)]="_selected.rootNode.tag.defaultValue"
                    [valueType]="_selected.rootNode.tag.valueType.type" 
                ></cmf-core-business-controls-propertyEditor>

            </cmf-core-business-controls-propertyContainer>
        </div>
    </leaf-content>

</cmf-core-controls-columnView>